<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.shop.dao.TGoodsDao">

	<select id="get" resultType="com.bootdo.shop.domain.TGoodsDO">
		select `id`,`title`,`tag`,`remark`,`summary`,`clickHit`,`typeid`,`img`,`typename`,`classid`,`orderby`,`prices`,`imgmore`,`create_by`,`create_date`,`del_flag`,`replyhit`,`sellhit`,`iscom`,`storeid`,`storename`,`brandid` from t_goods where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.shop.domain.TGoodsDO">
		select `id`,`title`,`tag`,`remark`,`summary`,`clickHit`,`typeid`,`img`,`typename`,`classid`,`orderby`,`prices`,`imgmore`,`create_by`,`create_date`,`del_flag`,`replyhit`,`sellhit`,`iscom`,`storeid`,`storename`,`brandid` from t_goods
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="tag != null and tag != ''"> and tag = #{tag} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="summary != null and summary != ''"> and summary = #{summary} </if>
		  		  <if test="clickhit != null and clickhit != ''"> and clickHit = #{clickhit} </if>
		  		  <if test="typeid != null and typeid != ''"> and typeid = #{typeid} </if>
		  		  <if test="img != null and img != ''"> and img = #{img} </if>
		  		  <if test="typename != null and typename != ''"> and typename = #{typename} </if>
		  		  <if test="classid != null and classid != ''"> and classid = #{classid} </if>
		  		  <if test="orderby != null and orderby != ''"> and orderby = #{orderby} </if>
		  		  <if test="prices != null and prices != ''"> and prices = #{prices} </if>
		  		  <if test="imgmore != null and imgmore != ''"> and imgmore = #{imgmore} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="replyhit != null and replyhit != ''"> and replyhit = #{replyhit} </if>
		  		  <if test="sellhit != null and sellhit != ''"> and sellhit = #{sellhit} </if>
		  		  <if test="iscom != null and iscom != ''"> and iscom = #{iscom} </if>
		  		  <if test="storeid != null and storeid != ''"> and storeid = #{storeid} </if>
		  		  <if test="storename != null and storename != ''"> and storename = #{storename} </if>
		  		  <if test="brandid != null and brandid != ''"> and brandid = #{brandid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="list1" resultType="com.bootdo.shop.domain.TGoodsDO">
		select `id`,`title`,`clickHit`,`typeid`,`img`,`typename`,`prices`,`replyhit`,`sellhit`,`iscom`,`storename` from t_goods
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="title != null and title != ''"> and title = #{title} </if>
			<if test="tag != null and tag != ''"> and tag = #{tag} </if>
			<if test="remark != null and remark != ''"> and remark = #{remark} </if>
			<if test="summary != null and summary != ''"> and summary = #{summary} </if>
			<if test="clickhit != null and clickhit != ''"> and clickHit = #{clickhit} </if>
			<if test="typeid != null and typeid != ''"> and typeid = #{typeid} </if>
			<if test="img != null and img != ''"> and img = #{img} </if>
			<if test="typename != null and typename != ''"> and typename = #{typename} </if>
			<if test="classid != null and classid != ''"> and classid = #{classid} </if>
			<if test="orderby != null and orderby != ''"> and orderby = #{orderby} </if>
			<if test="prices != null and prices != ''"> and prices = #{prices} </if>
			<if test="imgmore != null and imgmore != ''"> and imgmore = #{imgmore} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="replyhit != null and replyhit != ''"> and replyhit = #{replyhit} </if>
			<if test="sellhit != null and sellhit != ''"> and sellhit = #{sellhit} </if>
			<if test="iscom != null and iscom != ''"> and iscom = #{iscom} </if>
			<if test="storeid != null and storeid != ''"> and storeid = #{storeid} </if>
			<if test="storename != null and storename != ''"> and storename = #{storename} </if>
			<if test="brandid != null and brandid != ''"> and brandid = #{brandid} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
 	<select id="count" resultType="int">
		select count(*) from t_goods
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="tag != null and tag != ''"> and tag = #{tag} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="summary != null and summary != ''"> and summary = #{summary} </if>
		  		  <if test="clickhit != null and clickhit != ''"> and clickHit = #{clickhit} </if>
		  		  <if test="typeid != null and typeid != ''"> and typeid = #{typeid} </if>
		  		  <if test="img != null and img != ''"> and img = #{img} </if>
		  		  <if test="typename != null and typename != ''"> and typename = #{typename} </if>
		  		  <if test="classid != null and classid != ''"> and classid = #{classid} </if>
		  		  <if test="orderby != null and orderby != ''"> and orderby = #{orderby} </if>
		  		  <if test="prices != null and prices != ''"> and prices = #{prices} </if>
		  		  <if test="imgmore != null and imgmore != ''"> and imgmore = #{imgmore} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="replyhit != null and replyhit != ''"> and replyhit = #{replyhit} </if>
		  		  <if test="sellhit != null and sellhit != ''"> and sellhit = #{sellhit} </if>
		  		  <if test="iscom != null and iscom != ''"> and iscom = #{iscom} </if>
		  		  <if test="storeid != null and storeid != ''"> and storeid = #{storeid} </if>
		  		  <if test="storename != null and storename != ''"> and storename = #{storename} </if>
		  		  <if test="brandid != null and brandid != ''"> and brandid = #{brandid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.shop.domain.TGoodsDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_goods
		(
			`title`, 
			`tag`, 
			`remark`, 
			`summary`, 
			`clickHit`, 
			`typeid`, 
			`img`, 
			`typename`, 
			`classid`, 
			`orderby`, 
			`prices`, 
			`imgmore`, 
			`create_by`, 
			`create_date`, 
			`del_flag`, 
			`replyhit`, 
			`sellhit`, 
			`iscom`, 
			`storeid`, 
			`storename`,
			`brandid`
		)
		values
		(
			#{title}, 
			#{tag}, 
			#{remark}, 
			#{summary}, 
			#{clickhit}, 
			#{typeid}, 
			#{img}, 
			#{typename}, 
			#{classid}, 
			#{orderby}, 
			#{prices}, 
			#{imgmore}, 
			#{createBy}, 
			#{createDate}, 
			#{delFlag}, 
			#{replyhit}, 
			#{sellhit}, 
			#{iscom}, 
			#{storeid}, 
			#{storename},
			#{brandid}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.shop.domain.TGoodsDO">
		update t_goods 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="tag != null">`tag` = #{tag}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="summary != null">`summary` = #{summary}, </if>
			<if test="clickhit != null">`clickHit` = #{clickhit}, </if>
			<if test="typeid != null">`typeid` = #{typeid}, </if>
			<if test="img != null">`img` = #{img}, </if>
			<if test="typename != null">`typename` = #{typename}, </if>
			<if test="classid != null">`classid` = #{classid}, </if>
			<if test="orderby != null">`orderby` = #{orderby}, </if>
			<if test="prices != null">`prices` = #{prices}, </if>
			<if test="imgmore != null">`imgmore` = #{imgmore}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="replyhit != null">`replyhit` = #{replyhit}, </if>
			<if test="sellhit != null">`sellhit` = #{sellhit}, </if>
			<if test="iscom != null">`iscom` = #{iscom}, </if>
			<if test="storeid != null">`storeid` = #{storeid}, </if>
			<if test="storename != null">`storename` = #{storename}, </if>
			<if test="brandid != null">`brandid` = #{brandid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_goods where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_goods where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>