<footer class="page-footer fixed-footer" id="footer">
	<ul>
		<li class="active">
			<a href="/taobao">
				<img src="/taobao/images/footer01.png"/>
				<p>首页</p>
			</a>
		</li>
		<li>
			<a href="/taobao/typelist">
				<img src="/taobao/images/footer002.png"/>
				<p>分类</p>
			</a>
		</li>
		<li>
			<a href="/taobao/person/cartList">
				<img src="/taobao/images/footer003.png"/>
				<p>购物车</p>
			</a>
		</li>
		<li>
			<a href="/taobao/person">
				<img src="/taobao/images/footer004.png"/>
				<p>个人中心</p>
			</a>
		</li>
	</ul>
</footer>